@CHARSET "UTF-8";


/*Setup*/

* {
    margin: 0;
    padding: 0;

}
body {
    /*background: url(images/bkg.png);*/
    max-width: 1000px;
    overflow-y: hidden;
    /*background-color: #002222;*/
    background-image: url("https://drive.google.com/uc?id=15ElYyu8m8LuVLRTWYu90dwjAjkVoLeoB");


}

/*Elements*/

.moon{
  display: inline-block;
  position:absolute;
  top:100px;
  left: 150px;
  z-index: 1;
}

#moon{

}
#spaceman{

}

.ship{
  display: inline-block;
  position:relative;
  top:350px;
  width: 60%;
  left:1200px;
  z-index: 1;
  animation: ship ease-in-out 20s infinite;
  -moz-animation: ship ease-in-out 20s infinite;
  -webkit-animation: ship ease-in-out 20s infinite;
  -ms-animation: ship ease-in-out 20s infinite;
}

.spaceman{
  display: inline-block;
  position:relative;
  top:100px;
  left:8200px;
  z-index: 0;
  animation: spaceman ease-in-out 200s infinite;
  -moz-animation: spaceman ease-in-out 200s infinite;
  -webkit-animation: spaceman ease-in-out 200s infinite;
  -ms-animation: spaceman ease-in-out 200s infinite;

}
.space{
  display: inline-block;
  position: relative;
  left:100px;
  height: auto;
  width: 9000px;
  z-index: +1;

}

.rope{
  display: inline-block;
  position: relative;
  left:2900px;
  z-index: -1;
  animation: rope 100s infinite;
  -moz-animation: rope 100s infinite;
  -webkit-animation: rope 100s infinite;
  -ms-animation: rope 100s infinite;
}

.computer{

}

.motion{
  animation:motion 40s ease-in 1;
  -moz-animation:motion 40s ease-in 1;
  -webkit-animation:motion 40s ease-in 1;
  -ms-animation:motion 40s ease-in 1;
}

/*Animations*/

@keyframes ship{

  0%{
    top: 100px;
    left:1200px;
    transform: rotate(0deg);
  }
  50%{
    top: 60px;
    left:1220px;
    transform: rotate(12deg);
  }
  100%{
    top: 100px;
    left:1200px;
    transform: rotate(0deg);
  }
}

@-webkit-keyframes ship{

  0%{
    top: 100px;
    left:1200px;
    -webkit-transform: rotate(0deg);
  }
  50%{
    top: 60px;
    left:1220px;
    -webkit-transform: rotate(12deg);
  }
  100%{
    top: 100px;
    left:1200px;
    -webkit-transform: rotate(0deg);
  }
}
@-moz-keyframes ship{

  0%{
    top: 100px;
    left:1200px;
    -moz-transform: rotate(0deg);
  }
  50%{
    top: 60px;
    left:1220px;
    -moz-transform: rotate(12deg);
  }
  100%{
    top: 100px;
    left:1200px;
    -moz-transform: rotate(0deg);
  }
}
@-ms-keyframes ship{

  0%{
    top: 100px;
    left:1200px;
    -ms-transform: rotate(0deg);
  }
  50%{
    top: 60px;
    left:1220px;
    -ms-transform: rotate(12deg);
  }
  100%{
    top: 100px;
    left:1200px;
    -ms-transform: rotate(0deg);
  }
}

@keyframes spaceman{

  0%{
    top:-250px;
    left:8200px;
    transform: rotate(0deg);
  }
  20%{
    top:-270px;
    left:8100px;
    transform: rotate(12deg);
  }
  40%{
    top:-280px;
    left:8150px;
    transform: rotate(24deg);
  }
  60%{
    top:-290px;
    left:8200px;
    transform: rotate(12deg);
  }
  80%{
    top:-270px;
    left:8250px;
    transform: rotate(6deg);
  }
  100%{
    top:-250px;
    left:8200px;
    transform: rotate(0deg);
  }

}
@-webkit-keyframes spaceman{

  0%{
    top:-250px;
    left:8200px;
    -webkit-transform: rotate(0deg);
  }
  20%{
    top:-270px;
    left:8100px;
    -webkit-transform: rotate(12deg);
  }
  40%{
    top:-280px;
    left:8150px;
    -webkit-transform: rotate(24deg);
  }
  60%{
    top:-290px;
    left:8200px;
    -webkit-transform: rotate(12deg);
  }
  80%{
    top:-270px;
    left:8250px;
    -webkit-transform: rotate(6deg);
  }
  100%{
    top:-250px;
    left:8200px;
    -webkit-transform: rotate(0deg);
  }

}
@-moz-keyframes spaceman{

  0%{
    top:-250px;
    left:8200px;
    -moz-transform: rotate(0deg);
  }
  20%{
    top:-270px;
    left:8100px;
    -moz-transform: rotate(12deg);
  }
  40%{
    top:-280px;
    left:8150px;
    -moz-transform: rotate(24deg);
  }
  60%{
    top:-290px;
    left:8200px;
    -moz-transform: rotate(12deg);
  }
  80%{
    top:-270px;
    left:8250px;
    -moz-transform: rotate(6deg);
  }
  100%{
    top:-250px;
    left:8200px;
    -moz-transform: rotate(0deg);
  }

}
@-ms-keyframes spaceman{

  0%{
    top:-100px;
    left:8200px;
    -ms-transform: rotate(0deg);
  }
  20%{
    top:-120px;
    left:8100px;
    -ms-transform: rotate(12deg);
  }
  40%{
    top:-130px;
    left:8150px;
    -ms-transform: rotate(24deg);
  }
  60%{
    top:-140px;
    left:8200px;
    -ms-transform: rotate(12deg);
  }
  80%{
    top:-120px;
    left:8250px;
    -ms-transform: rotate(6deg);
  }
  100%{
    top:-100px;
    left:8200px;
    -ms-transform: rotate(0deg);
  }

}

@keyframes rope{
  0%{
    top:-100px;
    left:2900px;
  }
  20%{
    top:-120px;
    left:2900px;
  }
  80%{
    top:-80px;
    left:2900px;
  }
  100%{
    top:-100px;
    left:2900px;
  }
}
@-webkit-keyframes rope{
  0%{
    top:-100px;
    left:2900px;
  }
  20%{
    top:-120px;
    left:2900px;
  }
  80%{
    top:-80px;
    left:2900px;
  }
  100%{
    top:-100px;
    left:2900px;
  }
}
@-moz-keyframes rope{
  0%{
    top:-100px;
    left:2900px;
  }
  20%{
    top:-120px;
    left:2900px;
  }
  80%{
    top:-80px;
    left:2900px;
  }
  100%{
    top:-100px;
    left:2900px;
  }
}
@-ms-keyframes rope{
  0%{
    top:-100px;
    left:2900px;
  }
  20%{
    top:-120px;
    left:2900px;
  }
  80%{
    top:-80px;
    left:2900px;
  }
  100%{
    top:-100px;
    left:2900px;
  }
}

@keyframes motion{
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top:0px;
    left:-3000px;
  }
}
@-moz-keyframes motion{
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top:0px;
    left:-3000px;
  }
}
@-webkit-keyframes motion{
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top:0px;
    left:-3000px;
  }
}
@-ms-keyframes motion{
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top:0px;
    left:-3000px;
  }
}
